@mixin textOverFlow() {
   overflow: hidden;
   white-space: nowrap;
   text-overflow: ellipsis;
}

@mixin centerFlexItems($direction: row, $JCtype: center, $AIType: center) {
   display: flex;
   flex-direction: $direction;
   justify-content: $JCtype;
   align-items: $AIType;
}
@mixin centerPosition() {
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}
@mixin hidden() {
   visibility: hidden;
   opacity: 0;
}
@mixin show() {
   visibility: visible;
   opacity: 1;
}
@mixin transition($target: all, $duration: 0.3s, $motionType: ease-in-out) {
   transition: all $duration $motionType;
}
@mixin blackWhiteEffect() {
   color: $color-white;
   background-color: $color-bg-dark;
}

@mixin limitTextRows($limitNumber: 2) {
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: $limitNumber;
   line-clamp: $limitNumber;
   -webkit-box-orient: vertical;
}
