$color-text-primary: #222;
$color-text-secondary: #333;
$color-text-gray: #5e5c5c;
$color-text-light-gray: #00000073;
$color-text-light: #ccc;
$color-white: #fff;
$color-black: #000;
$color-gray: rgb(170, 170, 170);
$color-bg-dark: #030021;
$color-border-gray: #d7d6d6;
$color-bg-primary: rgba(255, 255, 255, 0.9);
$color-text-dark-gray: #999999;
$color-bg-light-gray: #fbfbfb;
$color-bg-medium-gray: #9b9b9b;
$color-bg-discount: #f34848;
$color-bg-dark: #111111;

// Palette colors
$color-palette-dark: #3d3c42;
$color-palette-purple: #7f5283;
$color-palette-lightBlue: #a6d1e6;
$color-palette-pink: #fefbf6;
$color-primary: #030021;

// Status colors
$color-bg-success: rgb(168, 255, 181);
$color-bg-cancel: rgb(255, 220, 219);
$color-bg-process: rgb(227, 227, 227);

// FONTS
$font-space-mono: 'Space Mono', monospace;
$font-montserrat: 'Montserrat', sans-serif;

// DISTANCES
$banner-height: 60vh;

// COLORS
$color-bg-danger: rgb(249, 49, 49);
