$color-text-primary: #222;
$color-text-secondary: #333;
$color-white: #fff;
$color-black: #000;

// Palette colors
$color-palette-dark: #3d3c42;
$color-palette-purple: #7f5283;
$color-palette-lightBlue: #a6d1e6;
$color-palette-pink: #fefbf6;
