@import './variable';
@import './mixi';

.all-product {
   .shop-page-wrapper {
      padding: 10rem 0;
   }
   .shop-page-padding .container-fluid {
      padding: 0 100px;
   }
   .amount-range-slider {
      margin: 2rem 0;
      background-color: rgb(244, 244, 244);
      height: 6px;
   }
   .range-slider {
      .range-slider__thumb {
         width: 16px;
         height: 16px;
         background-color: $color-palette-lightBlue;
      }
      .range-slider__range {
         background-color: $color-palette-lightBlue;
      }
   }
   #sticky-element {
      padding: 20px 0;
      background-color: white;
   }
   .sticky-style {
      position: fixed;
      bottom: 0;
      background-color: white;
      padding: 10px;
      z-index: 1000;
   }
   .section-title > h2 {
      display: inline-block;
      font-size: 36px;
      font-weight: bold;
      margin: 0;
      position: relative;
      text-transform: uppercase;
   }
   .section-title > h2::before {
      background-color: #9b9b9b;
      content: '';
      height: 1px;
      left: -100px;
      position: absolute;
      top: 19px;
      width: 70px;
   }
   .section-title > h2::after {
      background-color: #9b9b9b;
      content: '';
      height: 1px;
      right: -100px;
      position: absolute;
      top: 19px;
      width: 70px;
   }
   .product-img {
      position: relative;
      border: 1px solid rgb(238, 238, 238);
      a {
         aspect-ratio: 1/1;
         display: flex;
         align-items: center;
      }
   }
   .product-wrapper {
      position: relative;
      height: 100%;
      padding-bottom: 20px;
      .product-discount-label {
         position: absolute;
         top: 0;
         right: 14px;
         width: fit-content;
         padding: 1rem;
         color: white;
         width: 60px;
         text-align: center;
         font-weight: 500;
         font-size: 1.8rem;
         white-space: nowrap;
         background-color: $color-bg-discount;
         &::after {
            position: absolute;
            content: '';
            top: 99%;
            left: 0;
            width: 100%;
            height: 2rem;
            background-color: inherit;
            clip-path: polygon(100% 0, 100% 100%, 50% 0, 0 100%, 0 0);
         }
      }
   }

   .product-action {
      bottom: 30px;
      display: inline-block;
      left: 0;
      opacity: 0;
      padding: 0 20px;
      position: absolute;
      right: 0;
      text-align: center;
      transition: all 0.3s ease 0s;
   }
   .product-action a {
      background-color: #383838;
      border-radius: 100%;
      color: #f7f7f7;
      display: inline-block;
      font-size: 24px;
      height: 45px;
      line-height: 52px;
      margin: 0 15px;
      width: 45px;
   }
   .product-action a:hover {
      background-color: #050035;
      color: #fff;
   }
   .product-img > span {
      background-color: #666;
      border-radius: 100%;
      color: #fff;
      display: inline-block;
      font-size: 12px;
      font-weight: bold;
      height: 40px;
      left: 20px;
      letter-spacing: 1px;
      line-height: 40px;
      position: absolute;
      text-align: center;
      text-transform: uppercase;
      top: 20px;
      width: 40px;
   }
   .product-content h4 {
      color: #383838;
      font-size: 18px;
      margin-bottom: 6px;
   }
   .product-content > span {
      color: #383838;
      font-size: 18px;
      font-weight: bold;
   }
   .product-content {
      padding-top: 23px;
   }
   .product-action > a.animate-left {
      transform: translateX(-20px);
      transition: all 0.4s ease 0s;
   }
   .product-wrapper:hover .product-action > a.animate-left {
      transform: translateX(0px);
   }
   .product-action > a.animate-right {
      transform: translateX(20px);
      transition: all 0.4s ease 0s;
   }
   .product-wrapper:hover .product-action > a.animate-right {
      transform: translateX(0px);
   }
   .product-action > a.animate-top {
      transform: translateY(20px);
      transition: all 0.4s ease 0s;
   }
   .product-wrapper:hover .product-action > a.animate-top {
      transform: translateY(0px);
   }
   .product-wrapper:hover .product-action {
      opacity: 1;
   }
   .sidebar-widget {
      display: block;
      margin-bottom: 50px;
   }
   .sidebar-title {
      color: #383838;
      font-size: 18px;
      font-weight: 600;
      //   margin-bottom: 30px;
      text-transform: capitalize;
   }
   .product-tags ul li {
      display: inline-block;
      border: 1px solid #ccc;
      margin: 0 10px 0 0;
      text-transform: capitalize;
      &.active a {
         background-color: #3f3f3f;
         color: #fff;
      }
   }
   .product-tags ul li a {
      color: #888;
      display: inline-block;
      font-size: 15px;
      font-weight: 600;
      letter-spacing: 0.4px;
   }
   .sidebar-search .search-input-wrapper {
      position: relative;
      border: 1px solid #ccc;
   }
   .sidebar-search .search-input-wrapper input {
      background: white;
      border: medium none;
      box-shadow: none;
      color: $color-text-primary;
      text-transform: initial;
      width: 100%;
      min-height: 4.5rem;
      font-size: 1.6rem;
      padding-left: 15px;
      padding-right: 55px;
   }
   .sidebar-search .search-input-wrapper #search-btn {
      border: medium none;
      color: #050035;
      cursor: pointer;
      font-size: 18px;
      height: 45px;
      border-left: 1px solid #ccc;
      line-height: 50px;
      padding: 0 16px;
      position: absolute;
      right: 0;
      top: 0;
      transition: all 0.3s ease 0s;
      &:hover {
         background-color: #050035;
         color: white;
      }
   }
   .price_slider_amount {
      display: block;
      overflow: hidden;
   }
   .price_slider_amount {
      display: block;
      overflow: hidden;
   }
   .label-input {
      width: 100%;
      display: inline-block;
   }
   .label-input label {
      color: #575757;
      display: inline-block;
      font-size: 14px;
      font-weight: 600;
      margin: 0;
      text-transform: capitalize;
   }
   .label-input input {
      background: transparent none repeat scroll 0 0;
      border: medium none;
      box-shadow: none;
      color: #575757;
      font-size: 14px;
      font-weight: 600;
      height: inherit;
      padding-left: 5px;
      width: 99px;
   }
   .price_slider_amount > button {
      background-color: transparent;
      border: medium none;
      color: #575757;
      display: inline-block;
      float: right;
      font-weight: 600;
      line-height: 1;
      padding: 4px 0 0;
      text-transform: capitalize;
      transition: all 0.3s ease 0s;
   }
   .sidebar-categories li {
      padding: 1.4rem 2rem;
      cursor: pointer;
      @include transition;
      &:hover,
      &.active {
         background-color: $color-bg-dark;
         a {
            color: $color-white;
         }
      }
   }
   .sidebar-categories li a {
      color: #888888;
      display: flex;
      @include transition;
      align-items: center;
      justify-content: space-between;
      font-size: 15px;
      font-weight: 600;
      line-height: 1;
   }
   .sidebar-categories li a span {
      float: right;
   }
   .product-color > ul li {
      border-radius: 50px;
      cursor: pointer;
      display: block;
      float: left;
      height: 22px;
      margin-right: 20px;
      text-indent: -9999px;
      transition: all 0.4s ease 0s;
      width: 22px;
   }
   .product-color > ul li.red {
      background: #050035 none repeat scroll 0 0;
   }
   .product-color > ul li.pink {
      background: #ff01f0 none repeat scroll 0 0;
   }
   .product-color > ul li.blue {
      background: #3649ff none repeat scroll 0 0;
   }
   .product-color > ul li.sky {
      background: #00c0ff none repeat scroll 0 0;
   }
   .product-color > ul li.green {
      background: #00ffae none repeat scroll 0 0;
   }
   .product-color > ul li.purple {
      background: #8a00ff none repeat scroll 0 0;
   }
   .sidebar-widget.sidebar-overflow {
      overflow: hidden;
   }
   .product-size li {
      display: inline-block;
   }
   .product-size ul {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
   }
   .sidebar-title {
      margin-bottom: 2rem;
   }
   .size-item {
      width: 5rem;
      height: 5rem;
      &.active {
         a {
            background-color: $color-bg-dark;
            color: $color-white;
         }
      }
   }
   .product-size li a {
      color: #888888;
      font-size: 15px;
      @include centerFlexItems;
      @include transition;
      border: 1px solid #ccc;
      width: 100%;
      height: 100%;
      font-weight: 600;
      text-transform: uppercase;
      &:hover {
         background-color: $color-bg-dark;
         color: $color-white;
      }
   }
   .single-top-rated {
      display: flex;
   }
   .top-rated-text {
      margin-left: 20px;
   }
   .top-rated-text > h4 {
      color: #383838;
      font-size: 14px;
      font-weight: 600;
      margin: 0;
   }
   .top-rated-rating {
      line-height: 1;
      margin: 9px 0 10px;
   }
   .top-rated-rating li {
      display: inline-block;
      margin-right: 2px;
   }
   .top-rated-text > span {
      color: #8b8b8b;
      font-weight: 600;
   }
   .shop-bar {
      display: flex;
      padding-bottom: 6rem;
      justify-content: space-between;
   }

   .shop-found-selector {
      width: 100%;
      justify-content: space-between;
      display: flex;
   }
   .shop-found > p {
      color: #999;
      font-size: 18px;
      font-weight: 400;
      margin: 0;
   }
   .shop-found > p span {
      color: #050035;
   }
   .shop-selector {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      margin-left: 63px;
   }
   .shop-selector label {
      color: #6c6c6c;
      font-size: 18px;
      font-weight: 600;
      text-transform: capitalize;
   }
   .shop-tab a {
      color: #6c6c6c;
      font-size: 23px;
      line-height: 1;
      margin-left: 10px;
      z-index: 99;
   }
   .sort-select {
      font-size: inherit;
      min-width: 18rem;
      padding: 0.375rem 3rem 0.375rem 0.75rem;
   }
   .shop-tab a:first-child {
      margin-left: 0;
   }
   .shop-tab a.active,
   .shop-tab a:hover {
      color: #050035;
   }
   .pagination-style {
      margin-top: 4rem;
      ul {
         display: flex;
         justify-content: center;
         li {
            display: inline-block;
            margin: 0 3px;
            &.active {
               a {
                  background-color: #3f3f3f;
                  color: #fff;
               }
            }
            a {
               background-color: #f6f6f6;
               color: #3f3f3f;
               display: flex;
               @include transition;
               justify-content: center;
               align-items: center;
               font-size: 13px;
               font-weight: 500;
               height: 40px;
               width: 40px;
               &:hover {
                  background-color: #3f3f3f;
                  color: #fff;
               }
            }
         }
      }
   }
   .single-product-list {
      display: flex;
   }
   .product-content-list {
      margin-left: 30px;
   }
   .product-content {
      color: $color-text-primary;
      a {
         color: inherit;
         @include limitTextRows();
      }
   }
   .product-list-info > h4 {
      color: #191919;
      font-size: 20px;
      font-weight: 600;
      margin: 0;
   }
   .product-list-info > span {
      color: #666;
      display: block;
      font-size: 18px;
      font-weight: 600;
      margin: 11px 0 4px;
   }
   .product-list-info > p {
      color: #818181;
      font-size: 16px;
      line-height: 30px;
      margin: 0;
   }
   .product-list-cart-wishlist {
      display: flex;
      margin-top: 42px;
   }
   .product-list-cart {
      margin-right: 20px;
   }
   .list-btn-style {
      border: 1px solid #dcdcdc;
      border-radius: 50px;
      display: inline-block;
      font-weight: 600;
      letter-spacing: 0.8px;
      line-height: 1;
      padding: 15px 23px;
      text-transform: uppercase;
   }
   .list-btn-style.btn-hover::before,
   .list-btn-wishlist.btn-hover::before {
      border-radius: 50px;
   }
   .list-btn-wishlist {
      border: 1px solid #dcdcdc;
      color: #727272;
      display: inline-block;
      font-size: 22px;
      line-height: 1;
      padding: 10px 18px 8px;
      border-radius: 50px;
   }
   .list-btn-style:hover,
   .list-btn-wishlist:hover {
      border: 1px solid transparent;
      color: #fff;
   }

   .product-action-list-style {
      top: 60%;
      transform: translateY(-50%);
      display: inline-block;
      left: 0;
      opacity: 0;
      padding: 0 20px;
      position: absolute;
      right: 0;
      text-align: center;
      transition: all 0.3s ease 0s;
   }
   .product-action-list-style a {
      background-color: #383838;
      border-radius: 100%;
      color: #f7f7f7;
      display: inline-block;
      font-size: 24px;
      height: 45px;
      line-height: 52px;
      margin: 0 15px;
      width: 45px;
   }
   .product-action-list-style a:hover {
      background-color: #050035;
      color: #fff;
   }
   .product-wrapper:hover .product-action-list-style {
      opacity: 1;
      top: 50%;
   }
   .list-img-width {
      flex: 0 0 312px;
      position: relative;
   }
   .breadcrumb-padding .container-fluid {
      padding: 0 100px;
   }
   .product-box-style .product-action a,
   .product-box-style .product-action div {
      margin: 0 7px;
   }
   .product-action {
      bottom: 30px;
      display: inline-block;
      left: 0;
      opacity: 0;
      padding: 0 20px;
      position: absolute;
      right: 0;
      text-align: center;
      transition: all 0.3s ease 0s;
   }
   .product-action a,
   .product-action div {
      background-color: #383838;
      border-radius: 100%;
      color: #f7f7f7;
      display: inline-block;
      font-size: 24px;
      height: 45px;
      @include transition;
      cursor: pointer;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      margin: 0 15px;
      width: 45px;
   }
   .product-action a:hover,
   .product-action div:hover {
      color: #050035;
      background-color: #fff;
   }
   .pagination-control {
      border: 1px solid #ccc;
      &.disable {
         opacity: 0.3;
         a {
            cursor: default;
            &:hover {
               background-color: #f6f6f6 !important;
               color: #3f3f3f !important;
            }
         }
      }
   }
}
