// GlideJs library for slider and carousel
@import 'node_modules/@glidejs/glide/src/assets/sass/glide.core';
@import 'node_modules/@glidejs/glide/src/assets/sass/glide.theme';
// Customize scrollbar ================>
body::-webkit-scrollbar-track {
   background-color: #f5f5f5;
}
body::-webkit-scrollbar {
   width: 10px;
   background-color: #f5f5f5;
}
body::-webkit-scrollbar-thumb {
   border-radius: 10px;
   background-image: linear-gradient(to bottom, #a6d1e6, #eea4f5);
}
// Customize scrollbar ================>
