@import 'variable';
@import 'mixi';

#main {
   .glide__slide {
      height: unset;
   }
   .section-title > h2 {
      display: inline-block;
      font-size: 3.2rem;
      font-weight: bold;
      margin: 0;
      position: relative;
      text-transform: uppercase;
   }
   .section-title > h2::before {
      background-color: #9b9b9b;
      content: '';
      height: 1px;
      left: -100px;
      position: absolute;
      top: 19px;
      width: 70px;
   }
   .section-title > h2::after {
      background-color: #9b9b9b;
      content: '';
      height: 1px;
      right: -100px;
      position: absolute;
      top: 19px;
      width: 70px;
   }
   .banner-container {
      height: $banner-height;
      .glide {
         height: 100%;
         .glide__slide {
            & a {
               display: block;
               width: 100%;
               height: 100%;
               overflow: hidden;
               & > img {
                  width: 100%;
                  height: $banner-height;
                  object-fit: cover;
               }
            }
         }
         .glide__arrow {
            height: 100%;
            border: none;
            background-color: transparent;
            backdrop-filter: blur(2px);
            padding: 0 3rem;
            border-radius: 0;
            border-top: none;
            border-bottom: none;
            box-shadow: none;
            @include transition;
            &--left {
            }
            &--right {
            }
            &:hover {
               background-color: rgba(200, 200, 200, 0.1);
               & > i {
                  opacity: 1;
               }
            }
            & > i {
               color: $color-palette-pink;
               transition: inherit;
               opacity: 0.5;
               font-size: 3rem;
            }
         }
         .glide__bullet {
            width: 12px;
            height: 12px;
            margin: 0 0.7rem;
            &:hover {
               background-color: $color-white;
            }
            &:focus {
               border: none;
               background-color: $color-white;
            }
         }
      }
   }
   .main-container {
      .category {
         margin: 8rem 0;
         .glide__track {
            overflow-x: hidden;
            overflow-y: visible;
         }
         .glide__arrows {
            .glide__arrow {
               top: 0;
               padding: 2rem 4rem;
               border: 1px solid $color-gray;
               background-color: rgba(0, 0, 0, 0.9);
               box-shadow: 0 0 10px rgba(0, 0, 0, 0.01);
               border-radius: 0;

               transform: none;
               @include transition;
               &--left {
                  border-bottom-right-radius: 6px;
                  &:hover {
                     transform: translateX(-10px);
                  }
                  left: 0;
               }
               &--right {
                  border-bottom-left-radius: 6px;
                  &:hover {
                     transform: translateX(10px);
                  }
                  right: 0;
               }
               &:hover {
                  box-shadow: rgba(149, 157, 165, 0.1) 0px 8px 20px;
               }
               & > i {
                  color: $color-palette-pink;
                  font-size: 3rem;
               }
            }
         }
         &__container {
         }
         &__title {
            margin-bottom: 3rem;
            font-size: 2.8rem;
         }
         &-item {
            position: relative;
            border: 1px solid $color-gray;
            border-radius: 4px;
            overflow: hidden;
            width: 100%;
            height: 100%;
         }
         &__image {
            width: 100%;
            aspect-ratio: 1 / 1;
            overflow: hidden;
            display: flex;
            align-items: center;
            & > img {
               width: 100%;
               // height: 100%;
               object-fit: cover;
            }
         }
         &__desc {
            position: relative;
            border-top: 1px solid $color-gray;
            color: $color-text-primary;
            @include centerFlexItems;
            flex-direction: column;
            padding: 2rem;
            gap: 1.5rem;
            a {
               color: inherit;
            }
         }
         &__brand {
            padding: 0.3rem 1.6rem;
            border-radius: 25px;
            border: 1px solid $color-gray;
            @include transition;
            &:hover {
               border-color: $color-palette-lightBlue;
            }
         }
         &__name {
            font-size: larger;
            text-align: center;
            color: $color-text-primary;
            @include limitTextRows(2);
            font-weight: 600;
         }
         &__price {
            color: $color-text-light-gray;
            font-size: 1.8rem;
            & > span {
               color: $color-text-primary;
               &.remove {
                  display: none;
               }
            }
         }
         .product-discount-label {
            position: absolute;
            left: 0;
            top: 20%;
            background-color: $color-bg-discount;
            color: white;
            padding: 1rem;
            &::after {
               content: '';
               position: absolute;
               left: 80%;
               top: 0;
               width: 2rem;
               height: 100%;
               clip-path: polygon(0 0, 100% 0, 50% 51%, 100% 100%, 0 100%);
               background-color: inherit;
            }
         }
      }
   }
   .brand-logo-area {
      .brand-logo-wrapper {
         padding: 10rem 0;
         background-color: $color-bg-light-gray;
      }
      .single-brand {
         overflow: hidden;
         border: 1px solid rgba(0, 0, 0, 0.1);
         img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            @include transition;
         }
         &:hover {
            img {
               transform: scale(1.2);
            }
         }
      }
   }
   .all-products-area {
      .load-more {
         margin: 2rem 0;
         @include centerFlexItems;
      }
      .custom-row {
         display: flex;
         flex-wrap: wrap;
         margin-left: -20px;
         margin-right: -20px;
      }
      .custom-col-style {
         padding-left: 20px;
         padding-right: 20px;
      }
      .product-tab-list {
         margin-bottom: 5rem;
         display: flex;
         justify-content: center;
      }
      .product-tab-list a h4 {
         color: #999999;
         font-size: 14px;
         font-weight: bold;
         margin: 0;
         text-transform: uppercase;
         transition: all 0.3s ease 0s;
         letter-spacing: 0.5px;
      }
      .product-tab-list a {
         color: #999999;
      }
      .product-tab-list a.active h4,
      .product-tab-list a h4:hover {
         color: #050035;
      }
      .product-tab-list a {
         line-height: 1;
         margin: 0 28px;
      }
      .product-img {
         position: relative;
         overflow: hidden;
         a {
            display: block;
            aspect-ratio: 1/1;
            display: flex;
            align-items: center;
         }
         img {
            @include transition;
         }
         &:hover img {
            filter: blur(2px);
         }
      }
      .product-wrapper {
         border: 1px solid #ccc;
         border-radius: 6px;
         height: 100%;
         overflow: hidden;
         position: relative;
         .product-discount-label {
            position: absolute;
            top: 0;
            right: 14px;
            width: fit-content;
            padding: 1rem;
            color: white;
            width: 60px;
            text-align: center;
            font-weight: 500;
            font-size: 1.8rem;
            white-space: nowrap;
            background-color: $color-bg-discount;
            &::after {
               position: absolute;
               content: '';
               top: 99%;
               left: 0;
               width: 100%;
               height: 2rem;
               background-color: inherit;
               clip-path: polygon(100% 0, 100% 100%, 50% 0, 0 100%, 0 0);
            }
         }
      }

      .product-action {
         top: 50%;
         transform: translateY(-50%);
         display: inline-block;
         left: 0;
         opacity: 0;
         padding: 0 20px;
         position: absolute;
         right: 0;
         cursor: pointer;
         text-align: center;
         transition: all 0.3s ease 0s;
      }
      .product-action div,
      .product-action a {
         background-color: #383838;
         border-radius: 100%;
         color: #f7f7f7;
         display: inline-block;
         font-size: 24px;
         height: 45px;
         line-height: 52px;
         margin: 0 15px;
         width: 45px;
      }
      .product-action div:hover,
      .product-action a:hover {
         background-color: #050035;
         color: #fff;
      }
      .product-content h4 {
         margin-bottom: 0;
         a {
            color: #383838;
            font-size: 18px;
            user-select: none;
            text-align: center;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 3; /* number of lines to show */
            line-clamp: 3;
            -webkit-box-orient: vertical;
         }
      }
      .product-content > span {
         color: #383838;
         font-size: 18px;
         white-space: nowrap;
         user-select: none;
         font-weight: 500;
         &.remove {
            text-decoration: line-through;
            opacity: 0.4;
         }
      }
      .product-content {
         display: flex;
         padding: 2rem;
         border-top: 1px solid #ccc;
         flex-direction: column;
         align-items: center;
         gap: 1.3rem;
         padding-top: 23px;
         margin-top: auto;
         .category__brand {
            display: inline-block;
            color: $color-text-primary;
            user-select: none;
            padding: 0.3rem 1.6rem;
            border-radius: 25px;
            border: 1px solid #aaaaaa;
            a {
               color: inherit;
            }
         }
      }
      .product-action > div,
      .product-action > a {
         @include centerFlexItems;
         display: inline-flex;
         &:hover {
            color: $color-text-primary;
            background-color: white;
         }
      }
      .product-action > div.animate-left,
      .product-action > a.animate-left {
         transform: translateX(-20px);
         transition: all 0.4s ease 0s;
      }
      .product-wrapper:hover .product-action > div.animate-left,
      .product-wrapper:hover .product-action > a.animate-left {
         transform: translateX(0px);
      }
      .product-action > a.animate-right,
      .product-action > div.animate-right {
         transform: translateX(20px);
         transition: all 0.4s ease 0s;
      }
      .product-wrapper:hover .product-action > div.animate-left,
      .product-wrapper:hover .product-action > a.animate-left {
         transform: translateX(0px);
      }
      .product-action > div.animate-top,
      .product-action > a.animate-top {
         transform: translateY(20px);
         transition: all 0.4s ease 0s;
      }
      .product-wrapper:hover .product-action > div.animate-top,
      .product-wrapper:hover .product-action > a.animate-top {
         transform: translateY(0px);
      }
      .product-wrapper:hover .product-action {
         opacity: 1;
      }
   }
}
