@import 'variable';
@import 'mixi';

@import './utils/header';
@import './utils/footer';

#main {
   .main-container {
      height: 1000px;
      border-left: 1px solid #ccc;
      border-right: 1px solid #ccc;
   }
}
