@import 'variable';
@import 'mixi';

@import './utils/header';
@import './utils/footer';

#main {
   .banner-container {
      height: 50vh;
      .glide {
         height: 100%;
         .glide__slide {
            & a {
               display: block;
               width: 100%;
               height: 100%;
               overflow: hidden;
               & > img {
                  width: 100%;
                  height: 50vh;
                  object-fit: cover;
               }
            }
         }
         .glide__arrow {
            height: 100%;
            border: none;
            background-color: transparent;
            backdrop-filter: blur(2px);
            padding: 0 3rem;
            border-radius: 0;
            border-top: none;
            border-bottom: none;
            box-shadow: none;
            @include transition;
            &--left {
            }
            &--right {
            }
            &:hover {
               background-color: rgba(200, 200, 200, 0.1);
               & > i {
                  opacity: 1;
               }
            }
            & > i {
               color: $color-palette-pink;
               transition: inherit;
               opacity: 0.5;
               font-size: 3rem;
            }
         }
         .glide__bullet {
            width: 12px;
            height: 12px;
            margin: 0 0.7rem;
            &:hover {
               background-color: $color-white;
            }
            &:focus {
               border: none;
               background-color: $color-white;
            }
         }
      }
   }
   .main-container {
      height: 1000px;
      .category {
         margin: 5rem 0;
         .glide__track {
            overflow-x: hidden;
            overflow-y: visible;
         }
         .glide__arrows {
            .glide__arrow {
               top: 0;
               padding: 2rem 4rem;
               border: 1px solid $color-gray;
               background-color: rgba(0, 0, 0, 0.9);
               box-shadow: 0 0 10px rgba(0, 0, 0, 0.01);
               border-radius: 0;

               transform: none;
               @include transition;
               &--left {
                  border-bottom-right-radius: 6px;
                  &:hover {
                     transform: translateX(-10px);
                  }
                  left: 0;
               }
               &--right {
                  border-bottom-left-radius: 6px;
                  &:hover {
                     transform: translateX(10px);
                  }
                  right: 0;
               }
               &:hover {
                  box-shadow: rgba(149, 157, 165, 0.1) 0px 8px 20px;
               }
               & > i {
                  color: $color-palette-pink;
                  font-size: 3rem;
               }
            }
         }
         &__container {
         }
         &__title {
            margin-bottom: 3rem;
            font-size: 2.8rem;
         }
         &-item {
            border: 1px solid $color-gray;
            border-radius: 4px;
            overflow: hidden;
            width: 100%;
         }
         &__image {
            width: 100%;
            aspect-ratio: 1 / 1;
            overflow: hidden;
            & > img {
               width: 100%;
               height: 100%;
               object-fit: cover;
            }
         }
         &__desc {
            border-top: 1px solid $color-gray;
            color: $color-text-primary;
            @include centerFlexItems;
            flex-direction: column;
            padding: 2rem;
            gap: 1.5rem;
         }
         &__brand {
            padding: 0.3rem 1.6rem;
            border-radius: 25px;
            border: 1px solid $color-gray;
            @include transition;
            &:hover {
               border-color: $color-palette-lightBlue;
            }
         }
         &__name {
            font-size: larger;
            text-align: center;
            color: $color-text-primary;
            font-weight: 600;
         }
         &__price {
            color: $color-text-light-gray;
            font-size: 1.8rem;
            & > span {
               color: $color-text-primary;
            }
         }
      }
   }
}
