@import './mixi';
@import './variable';

.wishlist {
   padding: 8rem 0;
   .cart-heading {
      text-align: center;
   }
   .custom-row {
      display: flex;
      flex-wrap: wrap;
      margin-left: -20px;
      margin-right: -20px;
   }
   .product-wrapper {
      border: 1px solid #ccc;
      height: 100%;
      overflow: hidden;
      position: relative;
   }
   .custom-col-style {
      padding-left: 20px;
      padding-right: 20px;
   }
   .product-tab-list {
      margin-bottom: 5rem;
      display: flex;
      justify-content: center;
   }
   .product-tab-list a h4 {
      color: #999999;
      font-size: 14px;
      font-weight: bold;
      margin: 0;
      text-transform: uppercase;
      transition: all 0.3s ease 0s;
      letter-spacing: 0.5px;
   }
   .product-tab-list a {
      color: #999999;
   }
   .product-tab-list a.active h4,
   .product-tab-list a h4:hover {
      color: #050035;
   }
   .product-tab-list a {
      line-height: 1;
      margin: 0 28px;
   }
   .product-img {
      position: relative;
      overflow: hidden;
      a {
         aspect-ratio: 1/1;
         display: flex;
         align-items: center;
      }
      img {
         @include transition;
      }
      &:hover {
         .add-to-cart {
            visibility: visible;
            opacity: 1;
         }
         img {
            filter: blur(2px);
         }
      }
   }

   .product-content h4 {
      margin-bottom: 0;
      a {
         color: #383838;
         font-size: 18px;
         user-select: none;
         text-align: center;
         @include limitTextRows(2);
      }
   }
   .product-content > span {
      color: #383838;
      font-size: 18px;
      white-space: nowrap;
      user-select: none;
      font-weight: 500;
   }
   .product-content {
      display: flex;
      padding: 2rem;
      border-top: 1px solid #ccc;
      flex-direction: column;
      align-items: center;
      gap: 1.3rem;
      padding-top: 23px;
      margin-top: auto;
      .category__brand {
         display: inline-block;
         user-select: none;
         padding: 0.3rem 1.6rem;
         border-radius: 25px;
         border: 1px solid #aaaaaa;
         a {
            color: inherit;
         }
      }
   }

   .add-to-cart {
      position: absolute;
      width: 70px;
      height: 70px;
      border-radius: 50%;
      @include centerPosition;
      @include centerFlexItems;
      @include transition;
      @include hidden;
      cursor: pointer;
      background-color: $color-bg-dark;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px 10px;
      &:hover {
         background-color: white;
         i {
            color: $color-bg-dark;
         }
      }
      i {
         font-size: 2.9rem;
         color: white;
      }
   }
   .product-remove {
      position: absolute;
      top: 5px;
      color: #ccc;
      right: 10px;
      cursor: pointer;
      width: 50px;
      height: 50px;
      @include centerFlexItems;
      i {
         @include transition;
         font-size: 2.5rem;
      }
      &:hover {
         color: #333;
      }
   }
}
