@import '../variable';
@import '../mixi';

#footer {
   color: $color-text-primary;
   &:last-child {
      margin-top: auto;
   }
   .footer-top {
      background-color: $color-bg-dark;
      padding: 5rem 0;
   }
   .footer-bottom {
      background-color: $color-white;
      font-size: 1.5rem;
      color: $color-text-secondary;
      border-bottom: 1px solid $color-gray;
      p {
         margin: 0.7rem 0;
      }
      a.author {
         display: inline-block;
         margin: 0 4px;
         font-family: $font-space-mono;
         font-size: 1.8rem;
         color: $color-text-primary;
      }
   }
   .footer-widget {
      font-weight: 300;
      .footer-widget-title {
         color: $color-white;
         margin-bottom: 3rem;
         font-size: 2rem;
      }
      .footer-widget-content {
         ul > li {
            margin-bottom: 1rem;
            color: $color-text-dark-gray;
            & > a {
               color: inherit;
            }
         }
      }
   }
   #mc_embed_signup {
      margin: 2rem 0;
   }

   .footer-newsletter {
      color: $color-text-light;
   }
   .footer-contact {
      margin-top: 2rem;
   }
   .subscribe-form {
      input {
         color: $color-white;
         border-bottom: 2px solid $color-white;
      }
      button.button {
         font-size: 1.6rem;
         border: 1px solid $color-white;
         text-transform: uppercase;
         margin-left: 2rem;
         margin-top: 0.2rem;
      }
   }
}
