@import '../variable';
@import '../mixi';

.header {
   position: sticky;
   top: 0;
   left: 0;
   z-index: 1000;
   &__container {
      padding-top: 12px;
      padding-bottom: 6px;
      min-height: 50px;
      backdrop-filter: blur(10px);
      background-color: $color-bg-primary;
      box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.03);
      @include transition;
      &:hover {
         background-color: $color-white !important;
      }
   }
   &__logobar {
      .logo-wrapper {
         @include centerFlexItems;
         & a {
            display: inline-block;
         }
         & img {
            max-height: 50px;
         }
      }
      .nav-wrapper {
         height: 100%;
         @include centerFlexItems(row, flex-end, center);
         .nav-list {
            display: flex;
            align-items: center;
            .nav-item {
               &.user-cart {
                  i {
                     font-size: 2.5rem !important;
                  }
               }
               .nav-link {
                  color: $color-black;
                  & > i {
                     font-size: 2rem;
                  }
               }
               &.nav-item__search {
                  margin: 0 0.5rem;
                  .search-wrapper {
                     @include centerFlexItems;
                     border-radius: 2px;
                     border: 1px solid $color-gray;
                     .search-input {
                        outline: none;
                        background-color: transparent;
                        padding: 0 0.8rem;
                        font-family: $font-montserrat;
                        border: none;
                        text-transform: initial;
                        width: 16rem;
                     }
                     .search-btn {
                        cursor: pointer;
                        padding: 0.6rem;
                        border-right: 1px solid $color-gray;
                        &:hover {
                           background-color: $color-palette-pink;
                           & > i {
                              color: black;
                           }
                        }
                        & > i {
                           @include transition;
                           color: $color-text-primary;
                        }
                     }
                  }
               }
               &.user-info {
                  cursor: pointer;
                  position: relative;
                  & > .nav-item__avatar {
                     width: 46px;
                     height: 46px;
                     margin-left: 8px;
                     border-radius: 50%;
                     overflow: hidden;
                     & > img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                     }
                  }
                  & > .user-options {
                     position: absolute;
                     top: 100%;
                     left: 50%;
                     width: 18rem;
                     min-height: 10rem;
                     padding: 1rem 0;
                     transform: translateX(-50%);
                     visibility: hidden;
                     opacity: 0;
                     @include transition;
                     z-index: 100;
                     background-color: $color-white;
                     border-radius: 12px;
                     box-shadow: rgba(149, 157, 165, 0.3) 8px 8px 24px;
                     .user-options__item {
                        display: block;
                        color: $color-text-primary;
                        padding: 1rem 2rem;
                        @include transition;
                        &.logout {
                           &:hover {
                              background-color: rgb(252, 158, 158);
                              color: white;
                           }
                        }
                        &.info {
                           &:hover {
                              background-color: rgb(214, 225, 255);
                           }
                        }
                        &:hover {
                           background-color: rgba(0, 0, 0, 0.1);
                        }
                        & > span {
                           margin-left: 0.6rem;
                        }
                     }
                  }
                  &:hover > .user-options {
                     visibility: visible;
                     opacity: 1;
                  }
               }
            }
         }
      }
   }
   &__menu {
      margin-top: 0.2rem;
      .menu {
         &-wrapper {
            padding: 0 2rem;
         }
         &-list {
            @include centerFlexItems;
         }
         &-item {
            position: relative;
            .dropdown-menu {
               border: none;
               box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
               border-radius: 0;
               min-width: 20rem;
               top: calc(100% + 6px);
               padding: 1rem 0;
               font-size: 1.6rem;
               @include transition;
               display: block;
               transform: translateY(-10%);
               opacity: 0;
               visibility: hidden;
               &::after {
                  content: '';
                  position: absolute;
                  height: 6px;
                  width: 100%;
                  bottom: 100%;
                  left: 0;
               }
               .dropdown-item {
                  padding: 1rem 3rem;
               }
            }
            &:hover > .dropdown-menu {
               transform: translateY(0);
               opacity: 1;
               visibility: visible;
            }
         }
         &-link {
            position: relative;
            display: inline-block;
            padding: 1rem 1.2rem;
            text-transform: uppercase;
            letter-spacing: 1px;
            color: $color-black;
            &::after {
               content: '';
               position: absolute;
               background-color: $color-text-primary;
               width: 90%;
               height: 3px;
               top: 100%;
               left: 50%;
               transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
               transform: translate(-50%, 200%);
               visibility: hidden;
               opacity: 0;
            }
            &:hover::after {
               visibility: visible;
               opacity: 1;
               transform: translate(-50%, 0);
            }
            &--sale {
               background-color: red;
               padding: 0.3rem 1.4rem;
               margin: 0 0.5rem;
               font-weight: 600;
               clip-path: polygon(10% 0%, 100% 0, 90% 100%, 0% 100%);
               color: white;
               &::after {
                  display: none;
               }
            }
         }
      }
   }
}
