<html lang="en">

<head>
    <%- include('../../partials/head-admin') %>
        <link rel="stylesheet" href="/css/global.css" />
        <link rel="stylesheet" href="/css/admin-restyled.css" />
        <title>Admin</title>
</head>

<body>
    <div id="admin-manage-products">
        <!-- Page Wrapper -->
        <div id="wrapper">
            <!-- Sidebar -->
            <%- include('../../partials/menu-admin'); %>
                <div id="content-wrapper" class="d-flex flex-column">
                    <!-- Main Content -->
                    <div id="content">
                        <!-- Topbar -->
                        <%- include('../../partials/nav-admin'); %>
                    </div>
                </div>
        </div>
    </div>



</body>

</html>