/* RESET CSS =====================> */
*,
*::before,
*::after {
   box-sizing: border-box;
}
* {
   margin: 0;
   padding: 0;
   text-transform: uppercase;
}

:root {
   --text-primary: #333;
}

html {
   font-family: 'Montserrat', sans-serif;
   text-rendering: optimizeLegibility;
   scroll-behavior: smooth;
   font-size: 10px;
}

body {
   line-height: 1.5;
   min-height: 100vh;
   font-size: 16px;
   color: var(--text-primary);
}

a {
   color: white;
   text-decoration: none;
}

img,
picture,
video,
canvas,
svg {
   display: block;
   max-width: 100%;
}
input,
button,
textarea,
select {
   font: inherit;
   outline: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
   overflow-wrap: break-word;
}
ul {
   list-style-type: none;
   padding: 0;
   margin: 0;
}

/* RESET CSS =====================> */
