<html lang="en">
   <head>
      <%- include('../partials/head'); %>
      <link rel="stylesheet" href="css/404page.css" />
   </head>
   <body>
      <div id="notfound">
         <div class="notfound">
            <div class="notfound-404">
               <h1>404</h1>
               <h2>Page not found</h2>
            </div>
            <a href="/">Homepage</a>
         </div>
      </div>
   </body>
</html>
