<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head-admin') %>
    <title>Quản trị</title>

</head>

<body id="page-top">
      <%- include('../partials/header-admin') %>
    <script> import { privateRequestHandler } from '/js/utils/index.js'; </script> 
</body>

</html>