<html lang="en">
   <head>
      <%- include('../partials/head'); %>
      <link rel="stylesheet" href="css/home.css" />
      <title>HOME PAGE</title>
   </head>
   <body>
      <div class="root">
         <%- include('../partials/header',{user,isLoggedIn,brandNameList,categoryNameList}); %>
         <div id="main">
            <div class="banner-container">
               <div class="glide">
                  <div class="glide__track" data-glide-el="track">
                     <ul class="glide__slides">
                        <li class="glide__slide">
                           <a href="#">
                              <img
                                 src="https://cdn.shopify.com/s/files/1/0603/3031/1875/files/0715_ct8532-105_web_03_1512x.jpg?v=1657880022"
                                 alt=""
                              />
                           </a>
                        </li>
                        <li class="glide__slide">
                           <a href="#">
                              <img
                                 src="https://cdn.shopify.com/s/files/1/0603/3031/1875/files/0715_BB550WT1_web_03_1512x.jpg?v=1657880102"
                                 alt=""
                              />
                           </a>
                        </li>
                        <li class="glide__slide">
                           <a href="#">
                              <img
                                 src="https://cdn.shopify.com/s/files/1/0603/3031/1875/files/Web_Desktop_2x_d7775c58-a3f5-4e05-b95c-00a19e19a32d_1950x.jpg?v=1657879961"
                                 alt=""
                              />
                           </a>
                        </li>
                        <li class="glide__slide">
                           <a href="#">
                              <img
                                 src="https://cdn.shopify.com/s/files/1/0603/3031/1875/files/Web_Desktop_2x_e9224153-8aa8-400e-a3ce-00a2621e5d8e_1950x.jpg?v=1658485552"
                                 alt=""
                              />
                           </a>
                        </li>
                     </ul>
                  </div>
                  <div class="glide__arrows" data-glide-el="controls">
                     <button class="glide__arrow glide__arrow--left" data-glide-dir="<">
                        <i class="fa-solid fa-angle-left"></i>
                     </button>
                     <button class="glide__arrow glide__arrow--right" data-glide-dir=">">
                        <i class="fa-solid fa-angle-right"></i>
                     </button>
                  </div>
                  <div class="glide__bullets" data-glide-el="controls[nav]">
                     <button class="glide__bullet" data-glide-dir="=0"></button>
                     <button class="glide__bullet" data-glide-dir="=1"></button>
                     <button class="glide__bullet" data-glide-dir="=2"></button>
                  </div>
               </div>
            </div>
            <div class="container">
               <div class="main-container">
                  <div class="category">
                     <div class="section-title text-center mb-6">
                        <h2>Sản phẩm mới nhất</h2>
                     </div>
                     <div class="category__container">
                        <div class="glide category-product">
                           <div class="glide__track" data-glide-el="track">
                              <ul class="glide__slides">
                                 <li class="glide__slide">
                                    <div class="category-item wow fadeInLeft">
                                       <a href="#" class="product-link">
                                          <div class="category__image">
                                             <img
                                                src="https://cdn.shopify.com/s/files/1/0603/3031/1875/products/DM7866-162_1f5d2cdf-4e3e-44cb-9c84-5a507b81bcdb_540x.jpg?v=1657780747"
                                                alt=""
                                             />
                                          </div>
                                       </a>
                                       <div class="category__desc">
                                          <a href="#">
                                             <div class="category__brand">Jordan</div>
                                          </a>
                                          <a href="#">
                                             <div class="category__name">Air Jordan 1 Low SE New Emerald</div>
                                          </a>
                                          <div class="category__price">
                                             GIÁ
                                             <span>$204.00</span>
                                          </div>
                                       </div>
                                       <div class="category__foot" style="height: 1rem"></div>
                                    </div>
                                 </li>
                                 <li class="glide__slide">
                                    <div class="category-item wow fadeInLeft">
                                       <a href="#" class="product-link">
                                          <div class="category__image">
                                             <img
                                                src="https://cdn.shopify.com/s/files/1/0603/3031/1875/products/main-square_e15467ab-0b9e-41e7-86d4-eb5ec4fb4056_large.jpg?v=1656297147"
                                                alt=""
                                             />
                                          </div>
                                       </a>
                                       <div class="category__desc">
                                          <a href="#">
                                             <div class="category__brand">Vans</div>
                                          </a>
                                          <a href="#">
                                             <div class="category__name">
                                                Vans Unisex Old Skool Low-Top Green/Brown VN0A5JMI94R
                                             </div>
                                          </a>
                                          <div class="category__price">
                                             GIÁ
                                             <span>2.195.000 VND</span>
                                          </div>
                                       </div>
                                       <div class="category__foot" style="height: 1rem"></div>
                                    </div>
                                 </li>
                              </li>
                              <li class="glide__slide">
                                 <div class="category-item wow fadeInLeft">
                                    <a href="#" class="product-link">
                                       <div class="category__image">
                                          <img
                                             src="https://cdn.shopify.com/s/files/1/0603/3031/1875/products/main-square_496ffd78-16e7-4faf-9454-99ca5d5703d9_1296x.jpg?v=1656274890"
                                             alt=""
                                          />
                                       </div>
                                    </a>
                                    <div class="category__desc">
                                       <a href="#">
                                          <div class="category__brand">Nike</div>
                                       </a>
                                       <a href="#">
                                          <div class="category__name">
                                             Nike Kyrie Flytrap III EP Black Court Purple CD0191-006
                                          </div>
                                       </a>
                                       <div class="category__price">
                                          GIÁ
                                          <span>2.984.000 VND</span>
                                       </div>
                                    </div>
                                    <div class="category__foot" style="height: 1rem"></div>
                                 </div>
                              </li>
                           </li>
                           <li class="glide__slide">
                              <div class="category-item wow fadeInLeft">
                                 <a href="#" class="product-link">
                                    <div class="category__image">
                                       <img
                                          src="https://cdn.shopify.com/s/files/1/0603/3031/1875/products/main-square_81a8612d-f41a-410d-81da-c5c5b4e915db_large.jpg?v=1658316951"
                                          alt=""
                                       />
                                    </div>
                                 </a>
                                 <div class="category__desc">
                                    <a href="#">
                                       <div class="category__brand">Nike</div>
                                    </a>
                                    <a href="#">
                                       <div class="category__name">
                                          Nike Kyrie Flytrap 3 EP 'South Beach' White CD0191-104
                                       </div>
                                    </a>
                                    <div class="category__price">
                                       GIÁ
                                       <span>1.924.000 VND</span>
                                    </div>
                                 </div>
                                 <div class="category__foot" style="height: 1rem"></div>
                              </div>
                           </li>
                              </ul>
                           </div>
                           <div class="glide__arrows" data-glide-el="controls">
                              <button class="glide__arrow glide__arrow--left wow fadeInLeft" data-glide-dir="<">
                                 <i class="fa-solid fa-angle-left"></i>
                              </button>
                              <button class="glide__arrow glide__arrow--right wow fadeInRight" data-glide-dir=">">
                                 <i class="fa-solid fa-angle-right"></i>
                              </button>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="container-full ptb-5">
               <div class="brand-logo-area">
                  <div class="glide brand-logo-wrapper">
                     <div class="brand-logo-active glide__track" data-glide-el="track">
                        <div class="glide__slides">
                           <div class="single-brand glide__slide">
                              <img src="/assets/images/brand-logo/adidas.jpg" alt="" />
                           </div>
                           <div class="single-brand glide__slide">
                              <img src="/assets/images/brand-logo/converse.jpg" alt="" />
                           </div>
                           <div class="single-brand glide__slide">
                              <img src="/assets/images/brand-logo/fila.jpg" alt="" />
                           </div>
                           <div class="single-brand glide__slide">
                              <img src="/assets/images/brand-logo/gucci.jpg" alt="" />
                           </div>
                           <div class="single-brand glide__slide">
                              <img src="/assets/images/brand-logo/jordan.jpg" alt="" />
                           </div>
                           <div class="single-brand glide__slide">
                              <img src="/assets/images/brand-logo/louis-vuitton.jpg" alt="" />
                           </div>
                           <div class="single-brand glide__slide">
                              <img src="/assets/images/brand-logo/nike.jpg" alt="" />
                           </div>
                           <div class="single-brand glide__slide">
                              <img src="/assets/images/brand-logo/supreme.jpg" alt="" />
                           </div>
                           <div class="single-brand glide__slide">
                              <img src="/assets/images/brand-logo/vans.jpg" alt="" />
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="all-products-area ptb-5">
               <div class="plr-10">
                  <div class="container-fluid">
                     <div class="section-title text-center mb-6">
                        <h2>Có thể bạn thích</h2>
                     </div>
                     <div class="product-style">
                        <div class="tab-content">
                           <div class="custom-row">
                              <div class="custom-col-5 custom-col-style mb-4 wow fadeInUp">
                                 <div class="product-wrapper">
                                    <div class="product-img">
                                       <a href="#">
                                          <img
                                             src="https://cdn.shopify.com/s/files/1/0603/3031/1875/products/main-square_14961e9a-1e1b-4d1e-a8d2-2e4fedf3bc91_1296x.jpg?v=1656283010"
                                             alt=""
                                          />
                                       </a>
                                       <div class="product-action">
                                          <a class="animate-left " title="Wishlist" href="#">
                                             <i class="fa-regular fa-heart"></i>
                                          </a>
                                          <a class="animate-right" title="Add To Cart" href="#">
                                             <i class="ti-shopping-cart"></i>
                                          </a>
                                       </div>
                                    </div>
                                    <div class="product-content">
                                       <div class="category__brand">Jordan</div>
                                       <h4>
                                          <a href="#">Air Jordan 1 Mid Diamond Shorts </a>
                                       </h4>
                                       <span>3.726.000 VND</span>
                                    </div>
                                 </div>
                              </div>
                              <div class="custom-col-5 custom-col-style mb-4 wow fadeInUp">
                                 <div class="product-wrapper">
                                    <div class="product-img">
                                       <a href="#">
                                          <img
                                             src="https://cdn.shopify.com/s/files/1/0603/3031/1875/products/main-square_0fcb40f6-8ce3-4ca8-a19b-3a81666a5d75_1296x.jpg?v=1656307568"
                                             alt=""
                                          />
                                       </a>
                                       <div class="product-action">
                                          <a class="animate-left" title="Wishlist" href="#">
                                             <i class="fa-regular fa-heart"></i>
                                          </a>
                                          <a class="animate-right" title="Add To Cart" href="#">
                                             <i class="ti-shopping-cart"></i>
                                          </a>
                                       </div>
                                    </div>
                                    <div class="product-content">
                                       <div class="category__brand">Jordan</div>
                                       <h4>
                                          <a href="product-details.html"
                                             >Air Jordan 1 Retro High OG Bred Patent 555088-063</a
                                          >
                                       </h4>
                                       <span>5.058.000 VND</span>
                                    </div>
                                 </div>
                              </div>
                              <div class="custom-col-5 custom-col-style mb-4 wow fadeInUp">
                                 <div class="product-wrapper">
                                    <div class="product-img">
                                       <a href="#">
                                          <img
                                             src="https://cdn.shopify.com/s/files/1/0603/3031/1875/products/main-square_a2841cef-c85d-4d9d-bd39-856a36b993c3_1296x.jpg?v=1656235266"
                                             alt=""
                                          />
                                       </a>
                                       <div class="product-action">
                                          <a class="animate-left add-to-wishlist" title="Wishlist" href="#">
                                             <i class="fa-regular fa-heart"></i>
                                          </a>
                                          <a class="animate-right add-to-card" title="Add To Cart" href="#">
                                             <i class="ti-shopping-cart"></i>
                                          </a>
                                       </div>
                                    </div>
                                    <div class="product-content">
                                       <div class="category__brand">Jordan</div>
                                       <h4>
                                          <a href="product-details.html">Converse Chuck 70 High ' Dark Root 170551C</a>
                                       </h4>
                                       <span>2.221.000 VND</span>
                                    </div>
                                 </div>
                              </div>
                              <div class="custom-col-5 custom-col-style mb-4 wow fadeInUp">
                                 <div class="product-wrapper">
                                    <div class="product-img">
                                       <a href="#">
                                          <img
                                             src="https://cdn.shopify.com/s/files/1/0603/3031/1875/products/main-square_8b4dfd98-9cea-4bb4-b426-1633a0cd691f_1296x.jpg?v=1656404656"
                                             alt=""
                                          />
                                       </a>
                                       <div class="product-action">
                                          <a class="animate-left" title="Wishlist" href="#">
                                             <i class="fa-regular fa-heart"></i>
                                          </a>
                                          <a class="animate-right" title="Add To Cart" href="#">
                                             <i class="ti-shopping-cart"></i>
                                          </a>
                                       </div>
                                    </div>
                                    <div class="product-content">
                                       <div class="category__brand">Jordan</div>
                                       <h4>
                                          <a href="product-details.html"
                                             >Air Jordan 1 Retro High OG Pollen 555088-701</a
                                          >
                                       </h4>
                                       <span>4.490.000 VND</span>
                                    </div>
                                 </div>
                              </div>
                              <div class="custom-col-5 custom-col-style mb-4 wow fadeInUp">
                                 <div class="product-wrapper">
                                    <div class="product-img">
                                       <a href="#">
                                          <img
                                             src="https://cdn.shopify.com/s/files/1/0603/3031/1875/products/main-square_a828933e-9e04-4f0c-ad17-1d528ed76eaa_1296x.jpg?v=1656301501"
                                             alt=""
                                          />
                                       </a>
                                       <div class="product-action">
                                          <a class="animate-left" title="Wishlist" href="#">
                                             <i class="fa-regular fa-heart"></i>
                                          </a>
                                          <a class="animate-right" title="Add To Cart" href="#">
                                             <i class="ti-shopping-cart"></i>
                                          </a>
                                       </div>
                                    </div>
                                    <div class="product-content">
                                       <div class="category__brand">Jordan</div>
                                       <h4>
                                          <a href="product-details.html"
                                             >Nike Blazer Mid Have A Good Game (W) DO2331-101</a
                                          >
                                       </h4>
                                       <span>1.037.000 VND</span>
                                    </div>
                                 </div>
                              </div>
                              <div class="custom-col-5 custom-col-style mb-4 wow fadeInUp">
                                 <div class="product-wrapper">
                                    <div class="product-img">
                                       <a href="#">
                                          <img
                                             src="https://cdn.shopify.com/s/files/1/0603/3031/1875/products/main-square_b2effe38-1f5f-4aef-a056-e3ac3d242170_large.jpg?v=1656306551"
                                             alt=""
                                          />
                                       </a>
                                       <div class="product-action">
                                          <a class="animate-left" title="Wishlist" href="#">
                                             <i class="fa-regular fa-heart"></i>
                                          </a>
                                          <a class="animate-right" title="Add To Cart" href="#">
                                             <i class="ti-shopping-cart"></i>
                                          </a>
                                       </div>
                                    </div>
                                    <div class="product-content">
                                       <div class="category__brand">Jordan</div>
                                       <h4>
                                          <a href="product-details.html"
                                             >Vans T&C Surf x Sk8-Hi 138 Decon SF VN0A3MV1A5G</a
                                          >
                                       </h4>
                                       <span>2.270.000 VND</span>
                                    </div>
                                 </div>
                              </div>
                              <div class="custom-col-5 custom-col-style mb-4 wow fadeInUp">
                                 <div class="product-wrapper">
                                    <div class="product-img">
                                       <a href="#">
                                          <img
                                             src="https://cdn.shopify.com/s/files/1/0603/3031/1875/products/main-square_f984098b-30d6-4ec2-a4a4-b4c11bf55f7a_1296x.jpg?v=1656288006"
                                             alt=""
                                          />
                                       </a>
                                       <div class="product-action">
                                          <a class="animate-left" title="Wishlist" href="#">
                                             <i class="fa-regular fa-heart"></i>
                                          </a>
                                          <a class="animate-right" title="Add To Cart" href="#">
                                             <i class="ti-shopping-cart"></i>
                                          </a>
                                       </div>
                                    </div>
                                    <div class="product-content">
                                       <div class="category__brand">Jordan</div>
                                       <h4>
                                          <a href="product-details.html"
                                             >Adidas Forum 84 Low 'White Crew Green' Cloud White/Crew Green/Wild Pine
                                             FY8683</a
                                          >
                                       </h4>
                                       <span>12.000.000 VND</span>
                                    </div>
                                 </div>
                              </div>
                              <div class="custom-col-5 custom-col-style mb-4 wow fadeInUp">
                                 <div class="product-wrapper">
                                    <div class="product-img">
                                       <a href="#">
                                          <img
                                             src="https://cdn.shopify.com/s/files/1/0603/3031/1875/products/main-square_838e8be9-4a72-4e19-be37-5c5d90f7f793_large.jpg?v=1658459656"
                                             alt=""
                                          />
                                       </a>
                                       <div class="product-action">
                                          <a class="animate-left" title="Wishlist" href="#">
                                             <i class="fa-regular fa-heart"></i>
                                          </a>
                                          <a class="animate-right" title="Add To Cart" href="#">
                                             <i class="ti-shopping-cart"></i>
                                          </a>
                                       </div>
                                    </div>
                                    <div class="product-content">
                                       <div class="category__brand">Jordan</div>
                                       <h4>
                                          <a href="product-details.html">Adidas Harden Vol. 2 LS 'Mesa' Mesa/Aero </a>
                                       </h4>
                                       <span>2.900.000 VND</span>
                                    </div>
                                 </div>
                              </div>
                              <div class="custom-col-5 custom-col-style mb-4 wow fadeInUp">
                                 <div class="product-wrapper">
                                    <div class="product-img">
                                       <a href="#">
                                          <img
                                             src="https://cdn.shopify.com/s/files/1/0603/3031/1875/products/main-square_09f30200-e2d7-44d4-aed5-72473dd2cc73_1296x.jpg?v=1656577942"
                                             alt=""
                                          />
                                       </a>
                                       <div class="product-action">
                                          <a class="animate-left" title="Wishlist" href="#">
                                             <i class="fa-regular fa-heart"></i>
                                          </a>
                                          <a class="animate-right" title="Add To Cart" href="#">
                                             <i class="ti-shopping-cart"></i>
                                          </a>
                                       </div>
                                    </div>
                                    <div class="product-content">
                                       <div class="category__brand">Jordan</div>
                                       <h4>
                                          <a href="product-details.html">Nike Dunk Low Retro Panda DD1391-100</a>
                                       </h4>
                                       <span>4.737.000 VND</span>
                                    </div>
                                 </div>
                              </div>
                              <div class="custom-col-5 custom-col-style mb-4 wow fadeInUp">
                                 <div class="product-wrapper">
                                    <div class="product-img">
                                       <a href="#">
                                          <img
                                             src="https://cdn.shopify.com/s/files/1/0603/3031/1875/products/main-square_b0789392-9e1f-44f8-ad9b-b346a0453fca_1296x.jpg?v=1656305785"
                                             alt=""
                                          />
                                       </a>
                                       <div class="product-action">
                                          <a class="animate-left" title="Wishlist" href="#">
                                             <i class="fa-regular fa-heart"></i>
                                          </a>
                                          <a class="animate-right" title="Add To Cart" href="#">
                                             <i class="ti-shopping-cart"></i>
                                          </a>
                                       </div>
                                    </div>
                                    <div class="product-content">
                                       <div class="category__brand">Jordan</div>
                                       <h4>
                                          <a href="product-details.html"
                                             >Air Jordan 1 Retro High OG Rebellionaire 555088-036</a
                                          >
                                       </h4>
                                       <span>3.847.000 VND</span>
                                    </div>
                                 </div>
                              </div>
                              <div class="custom-col-5 custom-col-style mb-4 wow fadeInUp">
                                 <div class="product-wrapper">
                                    <div class="product-img">
                                       <a href="#">
                                          <img
                                             src="https://cdn.shopify.com/s/files/1/0603/3031/1875/products/main-square_e2fc1c5a-60a1-4c51-8088-759e9368c960_1296x.jpg?v=1656305033"
                                             alt=""
                                          />
                                       </a>
                                       <div class="product-action">
                                          <a class="animate-left" title="Wishlist" href="#">
                                             <i class="fa-regular fa-heart"></i>
                                          </a>
                                          <a class="animate-right" title="Add To Cart" href="#">
                                             <i class="ti-shopping-cart"></i>
                                          </a>
                                       </div>
                                    </div>
                                    <div class="product-content">
                                       <div class="category__brand">Jordan</div>
                                       <h4>
                                          <a href="product-details.html"
                                             >Air Jordan 1 Retro High OG Brotherhood 555088-706</a
                                          >
                                       </h4>
                                       <span>3.132.000 VND</span>
                                    </div>
                                 </div>
                              </div>
                              <div class="custom-col-5 custom-col-style mb-4 wow fadeInUp">
                                 <div class="product-wrapper">
                                    <div class="product-img">
                                       <a href="#">
                                          <img
                                             src="https://cdn.shopify.com/s/files/1/0603/3031/1875/products/main-square_4c801945-0828-47db-9d07-cb82f94f7d22_1296x.jpg?v=1656277695"
                                             alt=""
                                          />
                                       </a>
                                       <div class="product-action">
                                          <a class="animate-left" title="Wishlist" href="#">
                                             <i class="fa-regular fa-heart"></i>
                                          </a>
                                          <a class="animate-right" title="Add To Cart" href="#">
                                             <i class="ti-shopping-cart"></i>
                                          </a>
                                       </div>
                                    </div>
                                    <div class="product-content">
                                       <div class="category__brand">Jordan</div>
                                       <h4>
                                          <a href="product-details.html"
                                             >Air Jordan 1 Mid SE GS University Blue Royal DA8010-400</a
                                          >
                                       </h4>
                                       <span>3.995.000 VND</span>
                                    </div>
                                 </div>
                              </div>
                              <div class="custom-col-5 custom-col-style mb-4 wow fadeInUp">
                                 <div class="product-wrapper">
                                    <div class="product-img">
                                       <a href="#">
                                          <img
                                             src="https://cdn.shopify.com/s/files/1/0603/3031/1875/products/main-square_09794000-cf74-4879-a14a-4bcddad164d7_large.jpg?v=1656299407"
                                             alt=""
                                          />
                                       </a>
                                       <div class="product-action">
                                          <a class="animate-left" title="Wishlist" href="#">
                                             <i class="fa-regular fa-heart"></i>
                                          </a>
                                          <a class="animate-right" title="Add To Cart" href="#">
                                             <i class="ti-shopping-cart"></i>
                                          </a>
                                       </div>
                                    </div>
                                    <div class="product-content">
                                       <div class="category__brand">Jordan</div>
                                       <h4>
                                          <a href="product-details.html"
                                             >Air Jordan 1 Zoom CMFT Celestine Blue Sail DQ5091-041</a
                                          >
                                       </h4>
                                       <span>4.784.000 VND</span>
                                    </div>
                                 </div>
                              </div>
                              <div class="custom-col-5 custom-col-style mb-4 wow fadeInUp">
                                 <div class="product-wrapper">
                                    <div class="product-img">
                                       <a href="#">
                                          <img
                                             src="https://cdn.shopify.com/s/files/1/0603/3031/1875/products/main-square_4d470d7d-c777-49cc-8827-6cf14f60907b_1296x.jpg?v=1656279208"
                                             alt=""
                                          />
                                       </a>
                                       <div class="product-action">
                                          <a class="animate-left" title="Wishlist" href="#">
                                             <i class="fa-regular fa-heart"></i>
                                          </a>
                                          <a class="animate-right" title="Add To Cart" href="#">
                                             <i class="ti-shopping-cart"></i>
                                          </a>
                                       </div>
                                    </div>
                                    <div class="product-content">
                                       <div class="category__brand">Jordan</div>
                                       <h4>
                                          <a href="product-details.html"
                                             >WMNS Air Jordan 1 Mid Womens Wolf Grey BQ6472-105</a
                                          >
                                       </h4>
                                       <span>6.067.000 VND</span>
                                    </div>
                                 </div>
                              </div>
                              <div class="custom-col-5 custom-col-style mb-4 wow fadeInUp">
                                 <div class="product-wrapper">
                                    <div class="product-img">
                                       <a href="#">
                                          <img
                                             src="https://cdn.shopify.com/s/files/1/0603/3031/1875/products/main-square_fb5c7867-c30a-41c4-820f-fa3c29ef9ef3_large.jpg?v=1656739475"
                                             alt=""
                                          />
                                       </a>
                                       <div class="product-action">
                                          <a class="animate-left" title="Wishlist" href="#">
                                             <i class="fa-regular fa-heart"></i>
                                          </a>
                                          <a class="animate-right" title="Add To Cart" href="#">
                                             <i class="ti-shopping-cart"></i>
                                          </a>
                                       </div>
                                    </div>
                                    <div class="product-content">
                                       <div class="category__brand">Jordan</div>
                                       <h4>
                                          <a href="product-details.html"
                                             >Air Jordan 1 Retro High OG GS Court Purple 575441-501</a
                                          >
                                       </h4>
                                       <span>9.691.000 VND</span>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="load-more">
                        <div class="button">
                           Load More</div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <%- include('../partials/footer'); %>
      </div>
      <%- include('../partials/foot'); %>
      <script src="js/library/glide.min.js"></script>
      <script>
         new Glide('.glide', {
            type: 'carousel',
            autoplay: 5000,
            animationDuration: 1000,
            hoverpause: true,
         }).mount();

         new Glide('.glide.category-product', {
            type: 'carousel',
            perView: 4,
            gap: 20,
         }).mount();

         new Glide('.glide.brand-logo-wrapper', {
            type: 'carousel',
            perView: 8,
            hoverpause: false,
            autoplay: 1000,
            animationDuration: 2000,
            gap: 20,
         }).mount();
      </script>
   </body>
</html>
