<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <div class="root">
      <header><%- include('../partials/header'); %></header>
      <div id="main">Content</div>
      <footer><%- include('../partials/footer'); %></footer>
    </div>
  </body>
</html>
