<html lang="en">
   <head>
      <%- include('../partials/head'); %>
      <link rel="stylesheet" href="src/css/home.css" />
      <title>HOME PAGE</title>
   </head>
   <body>
      <div class="root">
         <header><%- include('../partials/header'); %></header>
         <div id="main">Content</div>
         <footer><%- include('../partials/footer'); %></footer>
      </div>
   </body>
</html>
