<html lang="en">
   <head>
      <%- include('../partials/head'); %>
      <link rel="stylesheet" href="css/home.css" />
      <title>HOME PAGE</title>
   </head>
   <body>
      <div class="root">
         <%- include('../partials/header'); %>
         <div id="main"></div>
         <footer id="footer"><%- include('../partials/footer'); %></footer>
      </div>
   </body>
</html>
