<html lang="en">
   <head>
      <%- include('../partials/head'); %>
   </head>
   <body>
      <%- include('../partials/header') %>
      <div id="root"></div>
      <%- include('../partials/footer') %>
   </body>
</html>
