<html lang="en">
   <head>
      <%- include('../partials/head'); %>
      <link rel="stylesheet" href="/css/login.css" />
      <link rel="stylesheet" href="/css/signup.css" />
   </head>
   <body>
      <%- include('../partials/header') %>
      <div id="root">
         <div class="login signup">
            <div class="container">
               <div class="login-wrapper">
                  <div class="login-title">Đăng ký tài khoản</div>
                  <form id="form-register" action="/api/v1/auth/signup" method="post">
                     <div class="divider">
                        <div class="line"></div>
                        <div class="or">Thông tin cá nhân</div>
                     </div>
                     <div class="row form-container">
                        <div class="col-12">
                           <input
                              type="text"
                              class="input-feild"
                              placeholder="Họ và tên"
                              autocomplete="off"
                              name="fullName"
                              id="fullName"
                           />
                        </div>
                        <div class="col-12">
                           <input class="input-feild" placeholder="Email" id="email" type="email" name="email" />
                        </div>
                        <div class="col-12">
                           <input
                              class="input-feild"
                              placeholder="Số điện thoại"
                              id="phoneNumber"
                              type="text"
                              name="phoneNumber"
                           />
                        </div>
                        <div class="divider">
                           <div class="line"></div>
                           <div class="or">Thông tin tài khoản</div>
                        </div>
                        <div class="col-12">
                           <input
                              class="input-feild"
                              placeholder="Tên đăng nhập"
                              type="text"
                              id="userName"
                              name="userName"
                           />
                        </div>
                        <div class="col">
                           <input
                              class="input-feild"
                              placeholder="Mật khẩu"
                              type="password"
                              id="password"
                              name="password"
                           />
                        </div>
                        <button type="submit" class="button button-full">REGISTER</button>
                     </div>
                  </form>
                  <div class="more-options">
                     <a href="/login" class="text--underline">Đăng nhập với tài khoản có sẵn</a>
                     <a href="/" class="text--underline">Trở về cửa hàng</a>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <%- include('../partials/footer') %> <%- include('../partials/foot'); %>
      <script type="module">
         import { getFormData } from '/js/utils/formDataHandler.js';
         const validate = new window.JustValidate('#form-register');
         validate
            .addField('#fullName', [
               {
                  rule: 'required',
                  errorMessage: 'Không được để trống họ tên',
               },
               {
                  rule: 'minLength',
                  value: 3,
                  errorMessage: 'Họ và tên phải có ít nhất 3 ký tự',
               },
               {
                  rule: 'maxLength',
                  value: 30,
                  errorMessage: 'Họ và tên chỉ được có tối đa 30 ký tự',
               },
            ])
            .addField('#email', [
               {
                  rule: 'required',
                  errorMessage: 'Không được để trống email !',
               },
               {
                  rule: 'email',
                  errorMessage: 'Không đúng định dạng email !',
               },
            ])
            .addField('#phoneNumber', [
               {
                  rule: 'minLength',
                  value: 10,
                  errorMessage: 'Số điện thoại phải có ít nhất 10 chữ số!',
               },
               {
                  rule: 'maxLength',
                  value: 12,
                  errorMessage: 'Số điện thoại chỉ được có tối đa 12 chữ số!',
               },
            ])
            .addField('#userName', [
               {
                  rule: 'required',
                  errorMessage: 'Vui lòng điền tên đăng nhập !',
               },
               {
                  rule: 'minLength',
                  value: 6,
                  errorMessage: 'Tên đăng nhập phải có ít nhất 6 ký tự !',
               },
               {
                  rule: 'maxLength',
                  value: 20,
                  errorMessage: 'Tên đăng nhập chỉ được có nhiều nhất 20 ký tự !',
               },
            ])
            .addField('#password', [
               {
                  rule: 'required',
                  errorMessage: 'Vui lòng điền mật khẩu !',
               },
               {
                  rule: 'password',
                  errorMessage: 'Mật khẩu phải có ít nhất 8 ký tự, trong đó có ít nhất một ký tự chữ và một ký tự số !',
               },
            ])
            .onSuccess(async (event) => {
               const formData = getFormData(event.target);
               try {
                  const { data, status } = await axios.post('/api/v1/auth/register', formData);
                  console.log('🚀 ~ file: register.ejs ~ line 146 ~ status', status);
                  console.log('🚀 ~ file: register.ejs ~ line 146 ~ data', data);
                  toastr.success('Lưu thông tin thành công !');
               } catch (error) {
                  toastr.error('Xảy ra lỗi khi gửi request về server !', error);
               }
            });
      </script>
   </body>
</html>
