<html lang="en">
   <head>
      <%- include('../partials/head'); %>
      <link rel="stylesheet" href="/css/login.css" />
   </head>
   <body>
      <div id="root">
         <%- include('../partials/header',{user,isLoggedIn}) %>
         <div id="main">Wish LIST PAGE</div>
         <%- include('../partials/footer') %>
      </div>
      <%- include('../partials/foot') %>
      <script type="module"></script>
   </body>
</html>
