<html lang="en">
   <head>
      <%- include('../partials/head'); %>
      <link rel="stylesheet" href="/css/library/responsize.css" />
      <link rel="stylesheet" href="/css/wishlist.css" />
   </head>
   <body>
      <div id="root">
         <%- include('../partials/header',{user,isLoggedIn}) %>
         <div id="main">
            <div class="cart-main-area pt-95 pb-100 wishlist">
               <div class="container">
                  <h1 class="cart-heading">wishlist</h1>
                  <form action="#">
                     <div class="product-style">
                        <div class="custom-row row gx-5 gy-5">
                           <div class="col col-sm-12 col-md-6 col-lg-4 col-xl-3">
                              <div class="product-wrapper">
                                 <div class="product-img">
                                    <a href="#">
                                       <img
                                          src="https://cdn.shopify.com/s/files/1/0603/3031/1875/products/main-square_14961e9a-1e1b-4d1e-a8d2-2e4fedf3bc91_1296x.jpg?v=1656283010"
                                          alt=""
                                       />
                                    </a>
                                    <div class="add-to-cart">
                                       <i class="ti-shopping-cart"></i>
                                    </div>
                                 </div>
                                 <div class="product-content">
                                    <div class="category__brand">Jordan</div>
                                    <h4>
                                       <a href="#">Air Jordan 1 Mid Diamond Shorts </a>
                                    </h4>
                                    <span>3.726.000 VND</span>
                                 </div>
                                 <div class="product-remove">
                                    <i class="ti-close"></i>
                                 </div>
                              </div>
                           </div>
                           <div class="col col-sm-12 col-md-6 col-lg-4 col-xl-3">
                              <div class="product-wrapper">
                                 <div class="product-img">
                                    <a href="#">
                                       <img
                                          src="https://cdn.shopify.com/s/files/1/0603/3031/1875/products/main-square_0fcb40f6-8ce3-4ca8-a19b-3a81666a5d75_1296x.jpg?v=1656307568"
                                          alt=""
                                       />
                                    </a>
                                    <div class="add-to-cart">
                                       <i class="ti-shopping-cart"></i>
                                    </div>
                                 </div>
                                 <div class="product-content">
                                    <div class="category__brand">Jordan</div>
                                    <h4>
                                       <a href="product-details.html"
                                          >Air Jordan 1 Retro High OG Bred Patent 555088-063</a
                                       >
                                    </h4>
                                    <div class="product-remove">
                                       <i class="ti-close"></i>
                                    </div>
                                    <span>5.058.000 VND</span>
                                 </div>
                              </div>
                           </div>
                           <div class="col col-sm-12 col-md-6 col-lg-4 col-xl-3">
                              <div class="product-wrapper">
                                 <div class="product-img">
                                    <a href="#">
                                       <img
                                          src="https://cdn.shopify.com/s/files/1/0603/3031/1875/products/main-square_a2841cef-c85d-4d9d-bd39-856a36b993c3_1296x.jpg?v=1656235266"
                                          alt=""
                                       />
                                    </a>
                                    <div class="add-to-cart">
                                       <i class="ti-shopping-cart"></i>
                                    </div>
                                 </div>
                                 <div class="product-content">
                                    <div class="category__brand">Jordan</div>
                                    <h4>
                                       <a href="product-details.html">Converse Chuck 70 High ' Dark Root 170551C</a>
                                    </h4>
                                    <span>2.221.000 VND</span>
                                 </div>
                                 <div class="product-remove">
                                    <i class="ti-close"></i>
                                 </div>
                              </div>
                           </div>
                           <div class="col col-sm-12 col-md-6 col-lg-4 col-xl-3">
                              <div class="product-wrapper">
                                 <div class="product-img">
                                    <a href="#">
                                       <img
                                          src="https://cdn.shopify.com/s/files/1/0603/3031/1875/products/main-square_8b4dfd98-9cea-4bb4-b426-1633a0cd691f_1296x.jpg?v=1656404656"
                                          alt=""
                                       />
                                    </a>
                                    <div class="add-to-cart">
                                       <i class="ti-shopping-cart"></i>
                                    </div>
                                 </div>
                                 <div class="product-content">
                                    <div class="category__brand">Jordan</div>
                                    <h4>
                                       <a href="product-details.html">Air Jordan 1 Retro High OG Pollen 555088-701</a>
                                    </h4>
                                    <span>4.490.000 VND</span>
                                 </div>
                                 <div class="product-remove">
                                    <i class="ti-close"></i>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </form>
               </div>
            </div>
         </div>
         <%- include('../partials/footer') %>
      </div>
      <%- include('../partials/foot') %>
   </body>
</html>
