<html lang="en">
   <head>
      <%- include('../../partials/head'); %>
      <link rel="stylesheet" href="/css/cart.css" />
   </head>
   <body>
      <div id="root">
         <%- include('../../partials/header',{user,isLoggedIn}) %>
         <div id="main">
            <div class="cart-main-area cart">
               <div class="container">
                  <div class="row">
                     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <h1 class="cart-heading">Giỏ hàng</h1>
                        <form action="#">
                           <div class="table-content table-responsive">
                              <table>
                                 <thead>
                                    <tr>
                                       <th>Xóa</th>
                                       <th>Hình Ảnh</th>
                                       <th>Tên sản phẩm</th>
                                       <th>Giá</th>
                                       <th>Số lượng</th>
                                       <th>Tổng tiền</th>
                                    </tr>
                                 </thead>
                                 <tbody>
                                    <tr>
                                       <td class="product-remove">
                                          <a href="#"><i class="ti-close"></i></a>
                                       </td>
                                       <td class="product-thumbnail">
                                          <a href="#"
                                             ><img
                                                src="https://cdn.shopify.com/s/files/1/0603/3031/1875/products/main-square_3ce527bb-53c7-44ab-9089-730127cd49fc_1296x.jpg?v=1658381543"
                                                alt=""
                                          /></a>
                                       </td>
                                       <td class="product-name">
                                          <a href="#"> JORDAN AIR 1 </a>
                                       </td>
                                       <td class="product-price-cart">
                                          <span class="amount">$165.00</span>
                                       </td>
                                       <td class="product-quantity">
                                          <input value="1" type="number" />
                                       </td>
                                       <td class="product-subtotal">$165.00</td>
                                    </tr>
                                    <tr>
                                       <td class="product-remove">
                                          <a href="#"><i class="ti-close"></i></a>
                                       </td>
                                       <td class="product-thumbnail">
                                          <a href="#"
                                             ><img
                                                src="https://cdn.shopify.com/s/files/1/0603/3031/1875/products/main-square_1eab42d4-bd19-4969-867c-5a22c52a473c_1296x.jpg?v=1657727029"
                                                alt=""
                                          /></a>
                                       </td>
                                       <td class="product-name">
                                          <a href="#">Vestibulum dictum</a>
                                       </td>
                                       <td class="product-price-cart">
                                          <span class="amount">$150.00</span>
                                       </td>
                                       <td class="product-quantity">
                                          <input value="1" type="number" />
                                       </td>
                                       <td class="product-subtotal">$150.00</td>
                                    </tr>
                                    <tr>
                                       <td class="product-remove">
                                          <a href="#"><i class="ti-close"></i></a>
                                       </td>
                                       <td class="product-thumbnail">
                                          <a href="#"
                                             ><img
                                                src="https://cdn.shopify.com/s/files/1/0603/3031/1875/products/main-square_0c1094b4-3c00-41e3-a52c-accc05e34edf_1296x.jpg?v=1656276816"
                                                alt=""
                                          /></a>
                                       </td>
                                       <td class="product-name">
                                          <a href="#"> BITS HEADPHONE</a>
                                       </td>
                                       <td class="product-price-cart">
                                          <span class="amount">$150.00</span>
                                       </td>
                                       <td class="product-quantity">
                                          <input value="1" type="number" />
                                       </td>
                                       <td class="product-subtotal">$150.00</td>
                                    </tr>
                                 </tbody>
                              </table>
                           </div>
                           <hr>
                           <div class="row justify-content-center">
                              <div class="col-md-8" >
                                 <div class="cart-page-total">
                                    <h2>Đơn hàng</h2>
                                    <ul>
                                       <li>Tổng tiền hàng<span class="origin-price">12.300.000 VND</span></li>
                                       <li>Giảm giá sản phẩm<span class="discount">- 1.200.000 VND</span></li>
                                       <li>Phí vận chuyển<span class="shipment">- 30.000 VND</span></li>
                                       <li>Tổng tiền thực thanh toán<span class="payment-total">11.070.000 VND</span></li>
                                    </ul>
                                    <div class="button btn-checkout large">Mua hàng</a>
                                 </div>
                              </div>
                           </div>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <%- include('../../partials/footer') %>
      </div>
      <%- include('../../partials/foot') %>
   </body>
</html>
