<html lang="en">
   <head>
      <%- include('../../partials/head'); %>
      <title>CHANGE PASSWORD</title>
      <link rel="stylesheet" href="/css/login.css" />
      <link rel="stylesheet" href="/css/change-password.css" />
   </head>
   <body>
      <div id="root">
         <%- include('../../partials/header',{user,isLoggedIn}) %>
         <div id="main">
            <div class="change-password">
               <div class="container">
                  <div class="login">
                     <div class="container">
                        <div class="login-wrapper">
                           <div class="login-title">Đổi mật khẩu</div>
                           <form action="/api/user/change-password" id="form-change-password" method="put">
                              <div class="row form-container">
                                 <div class="col-12">
                                    <input
                                       class="input-feild"
                                       id="current-password"
                                       placeholder="Mật khẩu hiện tại"
                                       type="password"
                                       name="current-password"
                                    />
                                 </div>
                                 <div class="col-12">
                                    <input
                                       class="input-feild"
                                       id="new-password"
                                       placeholder="Mật khẩu mới"
                                       type="password"
                                       name="new-password"
                                    />
                                 </div>
                                 <div class="col-12">
                                    <input
                                       class="input-feild"
                                       id="confirm-password"
                                       placeholder="Nhập lại mật khẩu mới"
                                       type="password"
                                       name="confirm-password"
                                    />
                                 </div>
                              </div>
                              <button type="submit" class="button button-full">CHANGE PASSWORD</button>
                           </form>
                        </div>
                     </div>
                  </div>
                  <form action="#"></form>
               </div>
            </div>
         </div>
         <%- include('../../partials/footer') %>
      </div>
      <%- include('../../partials/foot') %>
      <script type="module">
         import { localStorage, privateRequestHandler } from '/js/utils/index.js';
         const validate = new window.JustValidate('#form-change-password');
         validate
            .addField('#current-password', [
               {
                  rule: 'required',
                  errorMessage: 'Không được để trống mật khẩu !',
               },
            ])
            .addField('#new-password', [
               {
                  rule: 'required',
                  errorMessage: 'Vui lòng điền mật khẩu mới!',
               },
               {
                  rule: 'password',
                  errorMessage: 'Mật khẩu phải có ít nhất 8 ký tự, trong đó có ít nhất một ký tự chữ và một ký tự số !',
               },
            ])
            .addField('#confirm-password', [
               {
                  rule: 'required',
                  errorMessage: 'Vui lòng điền trường này!',
               },
            ])
            .onSuccess(async (event) => {
               if ($('#new-password').val() !== $('#confirm-password').val()) {
                  validate.showErrors({ '#confirm-password': 'Mật khẩu không trùng khớp !' });
               } else {
                  const currentPassword = $('#current-password').val();
                  const newPassword = $('#new-password').val();
                  const payload = { currentPassword, newPassword };
                  console.log(payload);
                  await privateRequestHandler('/api/user/change-password', 'put', payload, (data, status) => {
                     toastr[data.status](data.message);
                     if (data.status === 'success') {
                        const { refreshToken } = localStorage.getStore();
                        const payload = { refreshToken };
                        axios
                           .delete('/api/user/logout', { data: payload })
                           .then(({ data }) => {
                              console.log('đăng xuất thành công !');
                              setTimeout(() => {
                                 window.location.href = '/login';
                              }, 3000);
                           })
                           .catch((error) => {
                              toastr.error('Logout failured, please try again !');
                           });
                     }
                  });
               }
            });
         $('#confirm-password').on('input', function () {
            if ($('#new-password').val() !== $(this).val()) {
               validate.showErrors({ '#confirm-password': 'Mật khẩu không trùng khớp !' });
            } else {
               validate.showSuccessLabels({ '#confirm-password': '' });
            }
         });
      </script>
   </body>
</html>
