<html lang="en">
   <head>
      <%- include('../../partials/head'); %>
      <title>PURCHASE ORDER</title>
      <link rel="stylesheet" href="/css/purchase-order.css" />
   </head>
   <body>
      <div id="root">
         <%- include('../../partials/header',{user,isLoggedIn}) %>
         <div id="main">
            <div id="purchase-order">
               <div class="container page-container">
                  <h1 class="page-heading">
                     <span>Đơn mua</span>
                  </h1>
                  <div class="container">
                     <div class="row">
                        <ul class="purchase-tabs d-flex">
                           <li class="purchase-item col active">Tất cả</li>
                           <li class="purchase-item col">Chờ xác nhận</li>
                           <li class="purchase-item col">Chờ lấy hàng</li>
                           <li class="purchase-item col">Đăng giao</li>
                           <li class="purchase-item col">Đã giao</li>
                           <li class="purchase-item col">Đã hủy</li>
                        </ul>
                     </div>
                     <div class="row mt-1">
                        <div class="purchase-container">
                           <div class="purchase-wrapper">
                              <div class="purchase-head">
                                 <div class="d-flex justify-content-between">
                                    <div>
                                       Mã đơn hàng:
                                       <span># N19DCPT070</span>
                                    </div>
                                    <div class="purchase-info d-flex">
                                       <div class="purchase-order-time">
                                          <span>08/08/2022</span>
                                       </div>
                                       <div class="divider-vertical"></div>
                                       <div class="purchase-status">Đang giao</div>
                                    </div>
                                 </div>
                              </div>
                              <div class="purchase-body">
                                 <div class="purchase-product-list">
                                    <div class="purchase-product-item d-flex justify-content-between">
                                       <div class="left-section d-flex">
                                          <div class="product-img">
                                             <a href="" #>
                                                <img
                                                   src="https://cdn.shopify.com/s/files/1/0603/3031/1875/products/main-square_14961e9a-1e1b-4d1e-a8d2-2e4fedf3bc91_1296x.jpg?v=1656283010"
                                                   alt="jordan1"
                                                />
                                             </a>
                                          </div>
                                          <div class="product-info">
                                             <a href="#">
                                                <p class="name">Air Jordan 1 Mid Diamond Shorts</p>
                                             </a>
                                             <p class="size">Size: 40</p>
                                             <p class="quantity">
                                                <span class="denind-uppercase">x</span>
                                                <span>1</span>
                                             </p>
                                          </div>
                                       </div>
                                       <div class="right-section">
                                          <!-- <div class="origin-price">2.300.000 VND</div> -->
                                          <!-- <div class="discount">- 7 %</div> -->
                                          <div class="last-price">2.739.000 VND</div>
                                       </div>
                                    </div>
                                    <div class="purchase-product-item d-flex justify-content-between">
                                       <div class="left-section d-flex">
                                          <div class="product-img">
                                             <a href="" #>
                                                <img
                                                   src="https://cdn.shopify.com/s/files/1/0603/3031/1875/products/main-square_fbafebba-0799-4c6e-aee5-8888a82184bc_1296x.jpg?v=1656298494"
                                                   alt="jordan1"
                                                />
                                             </a>
                                          </div>
                                          <div class="product-info">
                                             <a href="#">
                                                <p class="name">Air Jordan 1 Retro High OG Heritage 555088-161</p>
                                             </a>
                                             <p class="size">Size: 42</p>
                                             <p class="quantity">
                                                <span class="denind-uppercase">x</span>
                                                <span>1</span>
                                             </p>
                                          </div>
                                       </div>
                                       <div class="right-section">
                                          <div class="origin-price">2.300.000 VND</div>
                                          <div class="discount">- 6 %</div>
                                          <div class="last-price">2.139.000 VND</div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="purchase-foot">
                                 <div class="d-flex justify-content-between">
                                    <div>
                                       <button class="button">Đánh giá</button>
                                       <button class="button light">Mua lại</button>
                                    </div>
                                    <div class="total-price">
                                       Tổng tiền
                                       <span>4.878.000 VND</span>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="purchase-wrapper success">
                              <div class="purchase-head">
                                 <div class="d-flex justify-content-between">
                                    <div>
                                       Mã đơn hàng:
                                       <span># N19DCPT070</span>
                                    </div>
                                    <div class="purchase-info d-flex">
                                       <div class="purchase-order-time">
                                          <span>08/08/2022</span>
                                       </div>
                                       <div class="divider-vertical"></div>
                                       <div class="purchase-status">Đã giao</div>
                                    </div>
                                 </div>
                              </div>
                              <div class="purchase-body">
                                 <div class="purchase-product-list">
                                    <div class="purchase-product-item d-flex justify-content-between">
                                       <div class="left-section d-flex">
                                          <div class="product-img">
                                             <a href="" #>
                                                <img
                                                   src="https://cdn.shopify.com/s/files/1/0603/3031/1875/products/main-square_fbafebba-0799-4c6e-aee5-8888a82184bc_1296x.jpg?v=1656298494"
                                                   alt="jordan1"
                                                />
                                             </a>
                                          </div>
                                          <div class="product-info">
                                             <a href="#">
                                                <p class="name">Air Jordan 1 Retro High OG Heritage 555088-161</p>
                                             </a>
                                             <p class="size">Size: 42</p>
                                             <p class="quantity">
                                                <span class="denind-uppercase">x</span>
                                                <span>1</span>
                                             </p>
                                          </div>
                                       </div>
                                       <div class="right-section">
                                          <div class="origin-price">2.300.000 VND</div>
                                          <div class="discount">- 6 %</div>
                                          <div class="last-price">2.139.000 VND</div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="purchase-foot">
                                 <div class="d-flex justify-content-between">
                                    <div>
                                       <button class="button">Đánh giá</button>
                                       <button class="button light">Mua lại</button>
                                    </div>
                                    <div class="total-price">
                                       Tổng tiền
                                       <span>2.139.000 VND</span>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="purchase-wrapper cancel">
                              <div class="purchase-head">
                                 <div class="d-flex justify-content-between">
                                    <div>
                                       Mã đơn hàng:
                                       <span># N19DCPT070</span>
                                    </div>
                                    <div class="purchase-info d-flex">
                                       <div class="purchase-order-time">
                                          <span>08/08/2022</span>
                                       </div>
                                       <div class="divider-vertical"></div>
                                       <div class="purchase-status">Đã hủy</div>
                                    </div>
                                 </div>
                              </div>
                              <div class="purchase-body">
                                 <div class="purchase-product-list">
                                    <div class="purchase-product-item d-flex justify-content-between">
                                       <div class="left-section d-flex">
                                          <div class="product-img">
                                             <a href="" #>
                                                <img
                                                   src="https://cdn.shopify.com/s/files/1/0603/3031/1875/products/main-square_d67321ba-a1e9-4f7a-8071-45ea8190385e_1296x.jpg?v=1656232769"
                                                   alt="jordan1"
                                                />
                                             </a>
                                          </div>
                                          <div class="product-info">
                                             <a href="#">
                                                <p class="name">Air Jordan 1 Mid Diamond Shorts</p>
                                             </a>
                                             <p class="size">Size: 40</p>
                                             <p class="quantity">
                                                <span class="denind-uppercase">x</span>
                                                <span>1</span>
                                             </p>
                                          </div>
                                       </div>
                                       <div class="right-section">
                                          <div class="origin-price">2.300.000 VND</div>
                                          <div class="discount">- 1 %</div>
                                          <div class="last-price">2.277.000 VND</div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="purchase-foot">
                                 <div class="d-flex justify-content-between">
                                    <div>
                                       <button class="button">Đánh giá</button>
                                       <button class="button light">Mua lại</button>
                                    </div>
                                    <div class="total-price">
                                       Tổng tiền
                                       <span>2.307.000 VND</span>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <%- include('../../partials/footer') %>
      </div>
      <%- include('../../partials/foot') %>
   </body>
</html>
