<header class="header">
   <div class="header__container">
      <div class="header__logobar">
         <div class="container">
            <div class="row">
               <div class="col"></div>
               <div class="col">
                  <div class="logo-wrapper wow flipInY">
                     <a href="/">
                        <img
                           src="https://cdn.shopify.com/s/files/1/0603/3031/1875/files/oie_Ve8rF3FmVBr7_500x.png?v=1646492695"
                           alt="main logo"
                        />
                     </a>
                  </div>
               </div>
               <div class="col">
                  <div class="nav-wrapper">
                     <ul class="nav-list d-flex">
                        <li class="nav-item">
                           <a class="nav-link" href="#"><i class="fa-regular fa-user"></i></a>
                        </li>
                        <li class="nav-item">
                           <a class="nav-link" href="#"> <i class="fa-regular fa-heart"></i></a>
                        </li>
                        <li class="nav-item">
                           <a class="nav-link" href="#"> <i class="fa-solid fa-magnifying-glass"></i></a>
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="header__menu">
         <div class="menu-wrapper">
            <ul class="menu-list">
               <li class="menu-item">
                  <a href="#" class="menu-link">air jordan</a>
               </li>
               <li class="menu-item">
                  <a href="#" class="menu-link">nike</a>
               </li>
               <li class="menu-item">
                  <a href="#" class="menu-link">adidas</a>
               </li>
               <li class="menu-item">
                  <a href="#" class="menu-link">vans</a>
               </li>
               <li class="menu-item">
                  <a href="#" class="menu-link">converse</a>
               </li>
               <li class="menu-item">
                  <a href="#" class="menu-link">category</a>
               </li>
               <li class="menu-item">
                  <a href="#" class="menu-link">brands</a>
               </li>
               <li class="menu-item">
                  <a href="#" class="wow tada menu-link menu-link--sale">sale</a>
               </li>
            </ul>
         </div>
      </div>
   </div>
</header>
