<header class="header">
   <div class="header__container">
      <div class="header__logobar">
         <div class="container">
            <div class="row">
               <div class="col"></div>
               <div class="col">
                  <div class="logo-wrapper wow flipInY">
                     <a href="/" class="main-logo">
                        <img
                           src="https://cdn.shopify.com/s/files/1/0603/3031/1875/files/oie_Ve8rF3FmVBr7_500x.png?v=1646492695"
                           alt="main logo"
                        />
                     </a>
                  </div>
               </div>
               <div class="col">
                  <div class="nav-wrapper">
                     <ul class="nav-list">
                        <li class="nav-item nav-item__search">
                           <div class="search-wrapper">
                              <div class="search-btn">
                                 <i class="fa-solid fa-magnifying-glass"></i>
                              </div>
                              <input type="text" class="search-input" />
                           </div>
                        </li>

                        <% if(isLoggedIn){ %>
                        <li class="nav-item user-cart">
                           <a class="nav-link" href="/login"><i class="ti-shopping-cart"></i></a>
                        </li>
                        <li class="nav-item user-info">
                           <div class="nav-item__avatar">
                              <img src="<%= user.avatar %>" alt="" />
                           </div>
                           <div class="user-options">
                              <div class="user-options__item info">
                                 <i class="fa-regular fa-user"></i>
                                 <span>Thông tin</span>
                              </div>
                              <div class="user-options__item">
                                 <i class="fa-regular fa-heart"></i>
                                 <span>Wishlist</span>
                              </div>
                              <div class="user-options__item">
                                 <i class="fa-brands fa-gg"></i>
                                 <span>Đơn mua</span>
                              </div>
                              <a href="/logout" class="user-options__item logout">
                                 <i class="fa-solid fa-arrow-right-from-bracket"></i>
                                 <span>Đăng xuất</span>
                              </a>
                           </div>
                        </li>
                        <% } else { %>
                        <li class="nav-item user-section">
                           <a class="nav-link" href="/login"><i class="fa-regular fa-user"></i></a>
                        </li>
                        <li class="nav-item wishlist">
                           <a class="nav-link" href="#"> <i class="fa-regular fa-heart"></i></a>
                        </li>
                        <% } %>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="header__menu">
         <div class="menu-wrapper">
            <ul class="menu-list">
               <li class="menu-item">
                  <a href="#" class="menu-link">air jordan</a>
                  <ul class="dropdown-menu">
                     <li><a class="dropdown-item" href="#">air jordan 1</a></li>
                     <li><a class="dropdown-item" href="#">air jordan 2</a></li>
                     <li><a class="dropdown-item" href="#">air jordan 3 </a></li>
                     <li><a class="dropdown-item" href="#">air jordan 4 </a></li>
                     <li><a class="dropdown-item" href="#">air jordan 5 </a></li>
                     <li><a class="dropdown-item" href="#">air jordan 6 </a></li>
                     <li><a class="dropdown-item" href="#">air jordan 7 </a></li>
                  </ul>
               </li>
               <li class="menu-item">
                  <a href="#" class="menu-link">nike</a>
                  <ul class="dropdown-menu">
                     <li><a class="dropdown-item" href="#">air max</a></li>
                     <li><a class="dropdown-item" href="#">air force</a></li>
                     <li><a class="dropdown-item" href="#">NIKE BASKETBALL </a></li>
                     <li><a class="dropdown-item" href="#">NIKE SPORTSWEAR </a></li>
                  </ul>
               </li>
               <li class="menu-item">
                  <a href="#" class="menu-link">adidas</a>
                  <ul class="dropdown-menu">
                     <li><a class="dropdown-item" href="#">ORIGINALS </a></li>
                     <li><a class="dropdown-item" href="#">ADIDAS BASKETBALL </a></li>
                  </ul>
               </li>
               <li class="menu-item">
                  <a href="#" class="menu-link">vans</a>
                  <ul class="dropdown-menu">
                     <li><a class="dropdown-item" href="#">OLD SKOOL </a></li>
                     <li><a class="dropdown-item" href="#">VANS AUTHENTIC </a></li>
                  </ul>
               </li>
               <li class="menu-item">
                  <a href="#" class="menu-link">converse</a>
                  <ul class="dropdown-menu">
                     <li><a class="dropdown-item" href="#">CHUCK TAYLOR </a></li>
                     <li><a class="dropdown-item" href="#">CHUCK 70 </a></li>
                     <li><a class="dropdown-item" href="#">ONE STAR </a></li>
                  </ul>
               </li>
               <li class="menu-item">
                  <a href="#" class="menu-link">Danh mục</a>
                  <% if(categoryNameList) { %>
                  <ul class="dropdown-menu">
                     <% categoryNameList.forEach((name)=>{ %>
                     <li><a class="dropdown-item" href="#"><%= name %></a></li>
                     <% }) %>
                  </ul>
                  <% } %>
               </li>
               <li class="menu-item">
                  <a href="#" class="menu-link">Brand</a>
                  <% if(brandNameList) { %>
                  <ul class="dropdown-menu">
                     <% brandNameList.forEach((name)=>{ %>
                     <li><a class="dropdown-item" href="#"><%= name %></a></li>
                     <% }) %>
                  </ul>
                  <% } %>
               </li>
               <li class="menu-item">
                  <a href="#" class="wow tada menu-link menu-link--sale">sale</a>
               </li>
            </ul>
         </div>
      </div>
   </div>
</header>
