<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center active" href="/admin">
        <i class="fa-solid fa-screwdriver-wrench"></i>
        <div class="sidebar-brand-text mx-3">Admin</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0" />

    <!-- Nav Item - Dashboard -->
    <li class="nav-item ">
        <a class="nav-link" href="#">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>

    <!-- Nav Item - Charts -->
    <li class="nav-item">
        <a class="nav-link" href="#">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Thống kê</span></a>
    </li>

    <!-- Nav Item - Tables -->
    <li class="nav-item">
        <a class="nav-link" href="/admin/Manage/brand">
            <i class="fas fa-fw fa-table"></i>
            <span>Thương hiệu</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/admin/Manage/category">
            <i class="fas fa-fw fa-table"></i>
            <span>Loại sản phẩm</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/admin/Manage/order">
            <i class="fas fa-fw fa-table"></i>
            <span>Đơn hàng</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/admin/Manage/feedback">
            <i class="fas fa-fw fa-table"></i>
            <span>Phản hồi</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/admin/Manage/user">
            <i class="fas fa-fw fa-table"></i>
            <span>Người dùng</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/admin/Manage/product">
            <i class="fas fa-fw fa-table"></i>
            <span>Sản phẩm</span></a>
    </li>
</ul>